<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>Mimosatek Font Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="css/mimosa-font.css" rel="stylesheet" type="text/css"/>
	<style>
	.font-document{
		width:800px;
		margin-left:20px;
		margin-top:50px;
	}
	.font-document tr{
		width:100%;
	}
	.font-document th{
		width:25%;
	}
	.font-document td{
		width:25%;
		text-align:center;
	}
		
	</style>
  </head>
  <body>
    <div>
      <h1>Mimosatek Font Document</h1>
      <p>Document for Mimosatek Font <br>
      Designed by: Tung Hoang <tung.hoang@mimosatek.com><br>
      Created by: Hieu Le <hieu.le@mimosatek.com><br>
	  Last updated: 03/08/2016</p>
    </div>
    <div  class="font-document">
      <table>
        <thead>
          <tr>
            <th>Icon</th>
            <th>Class</th>
            <th>Code</th>
			<th>Version</th>
          </tr>
        </thead>
        <tbody>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf000;</i></span></td><td>mi-home</td><td>f000</td><td>v.1000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf001;</i></span></td><td>mi-chart</td><td>f001</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf002;</i></span></td><td>mi-image</td><td>f002</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf003;</i></span></td><td>mi-info</td><td>f003</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf004;</i></span></td><td>mi-tool-v1</td><td>f004</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf005;</i></span></td><td>mi-config-v1</td><td>f005</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf006;</i></span></td><td>mi-camera</td><td>f006</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf007;</i></span></td><td>mi-menu</td><td>f007</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf008;</i></span></td><td>mi-clock</td><td>f008</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf009;</i></span></td><td>mi-refresh</td><td>f009</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf00A;</i></span></td><td>mi-irrigation</td><td>f00A</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf00B;</i></span></td><td>mi-house</td><td>f00B</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf00C;</i></span></td><td>mi-account</td><td>f00C</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf00D;</i></span></td><td>mi-password</td><td>f00D</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf00E;</i></span></td><td>mi-timer</td><td>f00E</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf010;</i></span></td><td>mi-manual</td><td>f010</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf011;</i></span></td><td>mi-sensor-threshold</td><td>f011</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf012;</i></span></td><td>mi-chevron-up</td><td>f012</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf013;</i></span></td><td>mi-chevron-down</td><td>f013</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf014;</i></span></td><td>mi-chevron-left</td><td>f014</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf015;</i></span></td><td>mi-chevron-right</td><td>f015</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf016;</i></span></td><td>mi-wifi-off</td><td>f016</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf017;</i></span></td><td>mi-config-v2</td><td>f017</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf018;</i></span></td><td>mi-save-energy</td><td>f018</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf019;</i></span></td><td>mi-water</td><td>f019</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf01A;</i></span></td><td>mi-rain</td><td>f01A</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf01B;</i></span></td><td>mi-light</td><td>f01B</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf01C;</i></span></td><td>mi-temp</td><td>f01C</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf01D;</i></span></td><td>mi-wind</td><td>f01D</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf01E;</i></span></td><td>mi-input</td><td>f01E</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf020;</i></span></td><td>mi-output</td><td>f020</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf021;</i></span></td><td>mi-ec</td><td>f021</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf022;</i></span></td><td>mi-ph</td><td>f022</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf023;</i></span></td><td>mi-soid-moiture</td><td>f023</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf024;</i></span></td><td>mi-dew-point</td><td>f024</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf025;</i></span></td><td>mi-moiture</td><td>f025</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf026;</i></span></td><td>mi-fan</td><td>f026</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf027;</i></span></td><td>mi-light-v2</td><td>f027</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf028;</i></span></td><td>mi-wind-v2</td><td>f028</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf029;</i></span></td><td>mi-cog</td><td>f029</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf02B;</i></span></td><td>mi-fertilizer</td><td>f02B</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf02C;</i></span></td><td>mi-watering</td><td>f02C</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf02D;</i></span></td><td>mi-grow</td><td>f02D</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf02E;</i></span></td><td>mi-harvest</td><td>f02E</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf02F;</i></span></td><td>mi-et0</td><td>f02F</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf030;</i></span></td><td>mi-note-v1</td><td>f030</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf031;</i></span></td><td>mi-folder</td><td>f031</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf032;</i></span></td><td>mi-done</td><td>f032</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf033;</i></span></td><td>mi-running</td><td>f033</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf034;</i></span></td><td>mi-port</td><td>f034</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf035;</i></span></td><td>mi-furrow</td><td>f035</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf036;</i></span></td><td>mi-plant</td><td>f036</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf037;</i></span></td><td>mi-pump-main</td><td>f037</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf038;</i></span></td><td>mi-pump</td><td>f038</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf039;</i></span></td><td>mi-valve-v1</td><td>f039</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf03A;</i></span></td><td>mi-valve-v2</td><td>f03A</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf03B;</i></span></td><td>mi-valve-v3</td><td>f03B</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf03C;</i></span></td><td>mi-water-temp</td><td>f03C</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf03D;</i></span></td><td>mi-oxygen</td><td>f03D</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf03E;</i></span></td><td>mi-alkalin</td><td>f03E</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf040;</i></span></td><td>mi-nh3</td><td>f040</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf041;</i></span></td><td>mi-h2s</td><td>f041</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf042;</i></span></td><td>mi-ph-v2</td><td>f042</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf043;</i></span></td><td>mi-water-color</td><td>f043</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf044;</i></span></td><td>mi-salinity</td><td>f044</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf045;</i></span></td><td>mi-clarity</td><td>f045</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf046;</i></span></td><td>mi-envronmental</td><td>f046</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf047;</i></span></td><td>mi-feed</td><td>f047</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf048;</i></span></td><td>mi-shrimp</td><td>f048</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf049;</i></span></td><td>mi-pond</td><td>f049</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf04A;</i></span></td><td>mi-note-v2</td><td>f04A</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf04B;</i></span></td><td>mi-tool-v2</td><td>f04B</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf04C;</i></span></td><td>mi-bulb</td><td>f04C</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf04D;</i></span></td><td>mi-soid-water</td><td>f04D</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf04E;</i></span></td><td>mi-fan</td><td>f04E</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf050;</i></span></td><td>mi-machine-feed</td><td>f050</td><td>v1.000</td></tr
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf051;</i></span></td><td>mi-machine-oxy</td><td>f051</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf052;</i></span></td><td>mi-fan-v2</td><td>f052</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf053;</i></span></td><td>mi-bell</td><td>f053</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf054;</i></span></td><td>mi-trash</td><td>f054</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf055;</i></span></td><td>mi-list</td><td>f055</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf056;</i></span></td><td>mi-pencil</td><td>f056</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf057;</i></span></td><td>mi-plus</td><td>f057</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf058;</i></span></td><td>mi-close</td><td>f058</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf059;</i></span></td><td>mi-minus</td><td>f059</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf05A;</i></span></td><td>mi-chart-v2</td><td>f05A</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf05B;</i></span></td><td>mi-place</td><td>f05B</td><td>v1.000</td></tr>
          <tr><td><span><i class="mi mi-2x mi-fw">&#xf05C;</i></span></td><td>mi-history</td><td>f05C</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf05D;</i></span></td><td>mi-picture-v2</td><td>f05D</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf05E;</i></span></td><td>mi-arrow-left</td><td>f05E</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf060;</i></span></td><td>mi-sign-out</td><td>f060</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf061;</i></span></td><td>mi-wilt</td><td>f061</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf062;</i></span></td><td>mi-new-stage</td><td>f062</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf063;</i></span></td><td>mi-soil-rotten</td><td>f063</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf064;</i></span></td><td>mi-root-rotten</td><td>f064</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf065;</i></span></td><td>mi-water-balance</td><td>f065</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf066;</i></span></td><td>mi-water-on</td><td>f066</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf067;</i></span></td><td>mi-water-off</td><td>f067</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf068;</i></span></td><td>mi-roof-left</td><td>f068</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf069;</i></span></td><td>mi-roof-left-close</td><td>f069</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf06A;</i></span></td><td>mi-roof-left-open-13</td><td>f06A</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf06B;</i></span></td><td>mi-roof-left-open-23</td><td>f06B</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf06C;</i></span></td><td>mi-roof-left-open</td><td>f06C</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf06D;</i></span></td><td>mi-roof-right</td><td>f06D</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf06E;</i></span></td><td>mi-roof-right-close</td><td>f06E</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf070;</i></span></td><td>mi-roof-right-open-13</td><td>f070</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf071;</i></span></td><td>mi-roof-right-open-23</td><td>f071</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf072;</i></span></td><td>mi-roof-right-open</td><td>f072</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf073;</i></span></td><td>screen</td><td>f073</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf074;</i></span></td><td>screen-close</td><td>f074</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf075;</i></span></td><td>screen-open</td><td>f075</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf076;</i></span></td><td>window-right</td><td>f076</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf077;</i></span></td><td>window-right-open</td><td>f077</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf078;</i></span></td><td>window-right-close</td><td>f078</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf079;</i></span></td><td>window-left</td><td>f079</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf07A;</i></span></td><td>window-left-open</td><td>f079</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf07B;</i></span></td><td>window-left-close</td><td>f07A</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf07C;</i></span></td><td>fan-v3</td><td>f07B</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf07D;</i></span></td><td>fan-on</td><td>f07D</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf07E;</i></span></td><td>fan-off</td><td>f07E</td><td>v1.000</td></tr>
		  <tr><td><span><i class="mi mi-2x mi-fw">&#xf080;</i></span></td><td>calendar</td><td>f080</td><td>v1.000</td></tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
